<form method="post" action="{{ path('app_penalite_delete', {'id': penalite.id}) }}" onsubmit="return confirm('Etes-vous sur de supprimer ce penalite?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ penalite.id) }}">
    <button class="btn btn-danger">Enlever penalite</button>
</form>
