{% extends 'base.html.twig' %}

{% block title %}New EtapeCourse{% endblock %}

{% block body %}
    <h1>Create new EtapeCourse</h1>

    {{ include('etape_course/_form.html.twig') }}

    <a href="{{ path('app_etape_course_index') }}">back to list</a>
{% endblock %}
