{% extends 'base.html.twig' %}

{% block title %}New ClassementCategorie{% endblock %}

{% block body %}
    <h1>Create new ClassementCategorie</h1>

    {{ include('classement_categorie/_form.html.twig') }}

    <a href="{{ path('app_classement_categorie_index') }}">back to list</a>
{% endblock %}
