{% extends 'admin/base.html.twig' %}

{% block title %}Points{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Importation des donnees</h4>
                    {% for type, message in app.flashes %}
                        <div class="alert alert-{{ type }}">
                        {{ message| join('. ') }}
                        </div>
                    {% endfor %}
                    <form class="forms-sample" action={{ path('app_import_valider_points') }} method='POST' enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Importer points</label>
                            <input type="file" name="points" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Importer les points">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Importer</button>
                                </span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Valider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
