{% extends 'admin/base.html.twig' %}

{% block title %}Devis index{% endblock %}

{% block body %}

    <a href="{{ path('app_devis_details', {'id': devis.getId()}) }}"><button class="btn bg-teal waves-effect">Voir les details du devis</button></a>

    <div class="card">
        <div class="header">
            <h2>
                Paiements effectuees pour ce devis
            </h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date de paiement</th>
                        <th style="text-align: right">Montant</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paiement in devis.getPaiements() %}
                        <tr>
                            <td>{{ paiement.getDatePaiement() ? paiement.getDatePaiement()|date('Y-m-d') : '' }}</td>
                            <td style="text-align: right">{{ paiement.getMontant()|number_format(2, ',', ' ') }} Ar</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Pas encore de paiement actuellement</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
