{% extends 'base.html.twig' %}

{% block title %}New CategorieCoureur{% endblock %}

{% block body %}
    <h1>Create new CategorieCoureur</h1>

    {{ include('categorie_coureur/_form.html.twig') }}

    <a href="{{ path('app_categorie_coureur_index') }}">back to list</a>
{% endblock %}
