{% extends 'admin/base.html.twig' %}
{% block body %}
<form action={{ path('app_devis_load_csv') }} method='POST' enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">Upload</button>
</form>
{% endblock %}