{% extends 'base.html.twig' %}

{% block title %}Edit TypeFinition{% endblock %}

{% block body %}
    <h1>Edit TypeFinition</h1>

    {{ include('type_finition/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_finition_index') }}">back to list</a>

    {{ include('type_finition/_delete_form.html.twig') }}
{% endblock %}
