{% extends 'base.html.twig' %}

{% block title %}New TypeFinition{% endblock %}

{% block body %}
    <h1>Create new TypeFinition</h1>

    {{ include('type_finition/_form.html.twig') }}

    <a href="{{ path('app_type_finition_index') }}">back to list</a>
{% endblock %}
